@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;                            /*css general*/
  box-sizing: border-box;
}

nav{
  background: #60cae2;
  height: 80px;                            /*Color y estilos del nav*/
  width: 100%;
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;                                         /*Estilo letrado y margenes del body*/
  padding: 0;
  overflow-x: hidden; 
}




/* Style the header */
header {
  background-color: #fbf9f9;
  padding: 5px;
  text-align: center;
  font-size: 15px;                                 /*Propiedades del header*/
  color: white;
  margin: 0;
  padding: 0;
  
}

.menu-fixed {
	position:fixed;
	z-index:1000;                                                /*Css estilo del menu*/
	top:0;
	left:0;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

nav ul{
  float: right;                                      /*NAV FLOTANTE PARA QUE QUEDE A LA DERECHA*/
  margin-right: 105px;
  
  
}
nav ul li{
  display: inline-block;
  line-height: 80px;                                   /*Propiedades de la lista*/
  margin: 0 5px;
  
}
nav ul li a{
  color: rgb(57, 48, 48);                            /*Font a propiedad*/
  font-size: 14px;
  padding: 31px 18px;
  border-radius: 0px;
  text-decoration: none;

}
li a.active, li a:hover{
  background: #8cddef;                               /*Color del curso activo sobre el menu*/
  transition: .5s;
  text-decoration: none;
}
.checkbtn{
  font-size: 30px;
  color: #13a1bd;                                        /*propiedades check boton junto arriba*/
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

.enlaces{
  position:initial;                                /*Pocision del icono*/
  padding: 20px 50px;
}

#iconomenu{
  max-width: 120px;                      /*Propiedad tamaño del icono del menu*/
  height: auto;
}





#seccion1 {
  background-image: url("https://images5.alphacoders.com/112/thumb-1920-1123013.jpg");
  background-size: cover;
  background-position: center center;                                /*Propiedades seccion 1 del contacto tambien contiene banner*/
  height: 500px;
}



.logobody {
  max-width: 100%;
  height: auto;
  display: block; /* Para que la propiedad margin funcione */
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}



.boton-contacto{
  display:block;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  padding: 15px 35px;
  font-size: 1.0em; /* usando ems */
  font-weight: 300;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(68, 56, 56, 0.3);
  transition: all 0.3s ease-in-out;
  max-width: 100%; 
  text-decoration: none;

}

.boton-contacto:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  text-decoration: none;
} 


.imgcard{
  display: block;       /*CSS DE LA CARTA DE LA SECCION DE SERVICIOS*/
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;                      /*css para oscurecer el area de servicios abajo de las imagenes*/
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;                               /*CSS TAMAÑO OVERLEY DENTRO DEL CONTENEDOR*/
  opacity: 1;
}


.image {
  max-width: 100%;                            /*clase para las imagenes de mision y vision*/
  height: auto;
  overflow-x: hidden; 
}

#seccion3 {
   background-color: white;      
   overflow-x: hidden;                          /*COLOR BACKGROUND DE LA SECCION*/ 
}


#seccion5 {
  background-color: white;   
  overflow-x: hidden;                              /*COLOR DE LA SECCION*/
}


#seccionubicacion {
  background-color: white;    
  overflow-x: hidden;                             /*COLOR DE LA SECCION*/
}

#seccionintermedia{
                                                                   /*COLO SECCION DEL TITULO*/
  background-color: white;
  overflow-x: hidden; 
}

#seccionintermedia2{
  /*COLO SECCION DEL TITULO*/
background-color: #92c8f1;
overflow-x: hidden; 
}


#seccionintermedia3{
  /*COLO SECCION DEL TITULO*/
background-color: white;
overflow-x: hidden; 
}

#servicio1color{
  background-color: #13a1bd;
  overflow-x: hidden; 
}


#Servicio2Part1{

  background-color: #13a1bd;
}


#Servicio2Part2{

  background-color: #bd13ac;
}

#Servicio2Part3{

  background-color: #75e321;
}

#Servicio3Part1{

  background-color: #429af1;
}

#Servicio3Part2{

  background-color: #60cae2;
}

#seccionintermediaservicio{
  color: #e7bcbc;

  background-color: #92c8f1;
}




.map-responsive{

  overflow:hidden;

  padding-bottom:40%;             /*CSS MAPA DE google*/

  position:relative;

  height:250px;

}

.map-responsive iframe{

  left:0;

  top:0;

  height:100%;

  width:100%;

  position:absolute;

}

/* --- --- CAROUSEL --- --- */

.contenedor {
	max-width: 1200px;
	width: 100%;
	margin: auto;
}

#areacarrousel{
  background-color:#92c8f1;
}


.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #090909;
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}






.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);              /*Propiedades de la card*/
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);        
}

#seccion5 .card .container {                                         /*Propiedades de la card junto al contenedor*/
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 100%;
  padding: 10px;
}


.mi-enlace {
  color: rgb(255, 255, 255);                           /*Enlace no funciona aun*/
  /* Color del texto del enlace */
  border-radius: 5px;
  /* Quita el subrayado del enlace */
}


#btn {
  background-color: #ffffff;                           /*PROPIEDADES DEL BOTON FUNCIONA PERO ESTA BACK Y HAY QUE MOVERLO*/
  border: none;
  color: rgb(255, 255, 255);
  padding: 8px 15px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  text-decoration: none;
}

#btn:hover {
  opacity: 2
}

.content {                                             /*Acomoda el contenido de las cartas*/
  width: 400px;
  height: 400px;
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  padding-top: 70px;
  font-size: 20px;
  overflow: hidden;
  margin: 30px;
  border-radius: 20px;
}

.content-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.content-3 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.container {
  text-align: center;
}

h1 {
  font-size: 36px;                                
  margin-bottom: 30px;
}

/*AREA FOOTER*/

.pie-pagina{
  width: 100%;
  background-color: #1f4a70;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #429af1;
  text-align: center;
  transition: all 300ms ease;
  border-radius: 5px;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}
.pie-pagina .grupo-2{
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}

@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }


@media (max-width : 768px){

  .boton-contacto{                                     /*Media querys para el tamaño responsivo del boton*/

    padding: 5px 85px;
  }

}

@media (max-width : 1180px){

  .boton-contacto{

    padding: 15px 85px;
  }

}




@media (max-width: 800px){
  .enlaces{
      padding-left: 20px;                                      /*Media querys para el menu responsivo*/
  }
  nav ul li a{
      font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
      display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 550px;
      background: #60cae2;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 40px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
  }
  li a:hover, li a.active{
      background: none;
      color: rgb(219, 221, 224);
  }
  #check:checked ~ ul{
      left:0;
  }



}


}

