{% load static %}
<html>
    <head>
        <title>Ingenieria Sustentable</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
        <script src="{% static 'js/mostrar-msg.js' %}"></script>
        <!--Iconos-->
        <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
        </head>
    <body>
        <header>
            <!-- Menú -->
            <nav class="menu">
              <input type="checkbox" id="check">
              <label for="check" class="checkbtn">
                  <i class="fas fa-bars"></i>
              </label>
              <a class="enlaces" href="#" >
                  <img id="iconomenu"src="{% static 'imagenes/logoMenu.png' %}" alt="">
              </a>
              <ul>
                  <li><a class="active" href="{% url 'index'  %}">Inicio</a></li>
                  <li><a href="#seccion1">Contacto</a></li>	
                  <li><a href="#seccion3">Quienes Somos</a></li>
                  <li><a href="#seccionintermedia3">Ubicacion</a></li>
                  <li><a href="{% url 'post_list'  %}">Noticias</a></li>
                  
              
              </ul>
              </nav>
              
          
          </header>
        
          {% block content %}





          {% endblock %}




          <footer class="pie-pagina">
            <div class="grupo-1">
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="{% static 'imagenes/logo2.svg' %}" alt="Logo de empresa">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2>LOREM</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
                </div>
                <div class="box">
                    <h2>SIGUENOS</h2>
                    <div class="red-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </div>
                </div>
            </div>
            <div class="grupo-2">
                <small>&copy; 2023 <b>OxiK</b> - Todos los Derechos Reservados.</small>
            </div>
        </footer>


    </body>




    <script>
        function mostrarMensaje() {
            var mensaje = document.getElementById("mensaje");
            mensaje.style.opacity = "1";
            mensaje.style.visibility = "visible";
        }
        </script>
    
        <script>
        function ocultarMensaje() {
            var mensaje = document.getElementById("mensaje");
            mensaje.style.opacity = "0";
            mensaje.style.visibility = "hidden";
        }
        </script>
         
        
        <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js}"></script>
        <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
        <script src="js/app.js"></script>
</html>

