{% extends 'blog/base.html' %}
{% load static %}

 

        {% block content %}
        
        <section id="servicio1color">
             
                    <div class="col-lg-7 col-md-8 col-sm-4 col-xs-12">
                        <div class="p-4">

                                {% for post in posts %}
                        <div>
                                <p id="titulo-post"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
                                <p id="fecha-post"> publicado: {{ post.published_date }}</p>
                                <br>
                                <div>
                                <p>{{ post.text|linebreaksbr }}</p> 
                                <p><img src="{{ post.cover.url}}" style="max-width: 100%; height: auto;"  alt="No subio imagen"></p>
                                <a href="{% url 'post_detail' pk=post.pk %}">Comentarios: {{ post.comments.count }}</a>
                                </div>
                                </div>
                                {% endfor %}
                        </div>
                        </div>



                </section>



                        

        {% endblock %}
       




