{% extends 'blog/base.html' %}
{% load static %}

 

        {% block content %}
        
        <section id="servicio1color">
             
                {% for post in posts %} {{ post }}{% endfor %}

                                {% comment %} {% for post in posts %}
                                <div>
                                <p><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
                                <p> publicado: {{ post.published_date }}</p>
                                <br>
                                </div>
                                <p>{{ post.text|linebreaksbr }}</p> 
                                <p><img src="{{ post.cover.url}}" style="max-width: 100%; height: auto;"  alt="No subio imagen"></p>
                                <a href="{% url 'post_detail' pk=post.pk %}">Comentarios: {{ post.comments.count }}</a>
                                {% endfor %} {% endcomment %}
                       



        </section>


                <script>
                        function openForm() {
                            document.getElementById("myForm").style.display = "block";
                        }
                
                        function closeForm() {
                            document.getElementById("myForm").style.display = "none";
                        }
                    </script>

                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


                    <script>
                        $(document).ready(function() {
                            $("#myInput").on("keyup", function() {
                                var value = $(this).val().toLowerCase();
                                $("#myTable tr").filter(function() {
                                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                });
                            });
                        });
                    </script>
                        

        {% endblock %}
       




