{% extends 'blog/index.html' %}
{% load static %}

{% block content %} 

<!DOCTYPE html>
<html lang="en">

<head>
    <title>CSS Website Layout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/services.css">

<body>

    <div class="header">
        <h1>Servicios de Pinturas, Carpintería y Gasfitería</h1>
    </div>

    <div class="row">
        <div>
            <h2>Mantenimiento a Sistemas de Calefacción Central.</h2>
        </div>
        <div class="column">
            <p>La calefacción central, es una instalación centralizada en la que la producción de calor es única para
                todo el
                edificio, realizándose su distribución desde la central generadora a las correspondientes unidades
                calefactoras
                por
                medio de fluidos térmicos. Nuestra sugerencia, es efectuar el procedimiento de mantenimiento por lo
                menos una
                vez al
                año, para evitar la acumulación de barro, oxido, etc., en los radiadores.</p>
            <img src="Images/radiador.png" alt="">
        </div>

        <div class="column">
            <p>La foto muestra un radiador sin mantención por el periodo de un año. El agua con la que esta limpiando el
                radiador
                sale teñida de negro por el arrastre de sarro, oxido y barro que mantenía en su interior, impidiendo la
                circulación
                del agua caliente y por lo tanto que el radiador calentara.
                Si el cliente lo solicita se puede implementar un programa de mantenimiento, el que se llevará a cabo
                según
                programación acordada.</p>
        </div>



    </div>
 
    <div class="row">
        <div class="column">
            <p>Venta, Selección, Montaje e Inspección de Juntas de Expansión: Las juntas de expansión o compensadores de
                dilatación
                son elementos que permiten movimientos o desplazamientos relativos entre sus extremos sin deformarse. El
                elemento
                principal de una junta de expansión es el fuelle. El fuelle debe ser lo suficientemente resistente como
                para
                aguantar la presión del fluido, y flexible para deformarse, pero al mismo tiempo ser capaz de volver a
                su
                posición
                original. El fuelle además debe ser seleccionado de acuerdo con las características químicas del fluido.
                El
                fuelle
                puede ser de caucho, metálico, de Teflón, de tela, etc.
                Si el cliente lo solicita, se prestara asesoría para la correcta selección de estas según su operación.
            </p>


        </div>

        <div class="column">
            <h2>Mantenimiento a Generadores a Combustión Interna.</h2>
            <p>
                Los generadores de combustión interna son equipos que requieren de mantención según sus periodos de
                trabajo e
                indicados por el fabricante del equipo en su pauta de mantenimiento, por lo que sugiere el estricto
                apego a esta
                pauta.
            </p>
            <img src="Images/generador.png" alt="">
        </div>
    </div>











</body>

</html>

{% endblock %}