{% extends 'blog/base.html' %}
{% load static %}

    {% block content %}   


    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>





    <div class="header">
        <h1>Mantenimiento de edificios e instalaciones.</h1>
    </div>
    <section id="servicio1color">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-4 col-xs-12">
            <div class="p-4">
            <h2 >Mantenimiento Área Industrial</h2>
            <p class="textoservicios">1.- Venta, Montaje, Inspección y Mantenimiento de Trampas de Vapor. Si el cliente lo solicita, se
                prestara asesoría
                para la correcta selección de estas según su operación.

                Las trampas de vapor pueden ser consideradas como válvulas automáticas, cuya tarea es eliminar el
                condensado de una
                línea de vapor, aire y otros gases no condensables, sin dejar pasar Vapor Vivo. El servicio considera la
                venta, el
                montaje, la inspección y el mantenimiento del conjunto de trampas de vapor en la instalación, además, si
                es
                necesario, se prestará la asesoría para la correcta selección de la trampa según los parámetros de
                trabajo del
                equipo. Si el cliente lo solicita se puede implementar un programa de mantenimiento de trampas de vapor,
                el que se
                llevará a cabo según programación acordada.</p>
            </div>
        </div>
            <div class="col-lg-8 col-md-8 col-sm-4 col-xs-12">
                <div class="p-4">
            <h2>Venta, Montaje, Inspección y Mantenimiento de Válvulas Red. de Presión de Vapor</h2>
            <p class="textoservicios">2.-Si el cliente lo solicita, se prestara asesoría para la correcta selección de estas según su operación.
                Las válvulas reductoras de presión de vapor son componentes de vital importancia para controlar la
                presión del vapor
                que se entrega a los distintos equipos en una planta. Este proceso de reducción de la presión del vapor,
                es
                necesaria para cumplir con las especificaciones técnicas del fabricante de los equipos en lo referido a
                los
                parámetros de presión de trabajo y además, garantizar la eficiencia térmica del proceso.
                El servicio considera la venta, el montaje, la inspección, el mantenimiento y si es necesario, la
                reparación del
                equipo, además, si es necesario, se prestará la asesoría para la correcta selección de la válvula.</p>
            </div>
        </div>

        <div class="col-lg-3 col-md-8 col-sm-4 col-xs-12">
            <div class="p-1">
                <img src="{% static 'imagenes/WILSONTEST.png' %}" alt="">
        </div>
    </div>

    </div>
    </section>



	{% endblock %}
