<!DOCTYPE html>
<html lang="en">

<head>
    <title>CSS Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/services.css">
</head>

<body>
    <header>
        <!-- Menú -->
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
            <a class="enlace" href="index.html">
                <img id="iconomenu" src="imagenes/logoMenu.png" alt="">
            </a>
            <ul>
                <li><a class="active" href="index.html">Inicio</a></li>
                <li><a href="#Noticias">Noticias</a></li>


            </ul>
        </nav>

    </header>

    <div class="row">
        <div class="col-lg-12 col-md-8 col-sm-4 col-xs-12">
            <div class="p-2">
                <h1 class="" align="center">Servicio Generales de limpieza e Pinturas.</h1>
            </div>
        </div>
    </div>



    <div class="content content-1">
        <p>
            1.- Mantenimiento a edificios e instalaciones. Podemos proporcionar, en caso de ser solicitado,
            servicios de aseo,
            lavado de vidrios, limpieza techos y canaleta, etc.

        </p>
    </div>
    <div class="content content-2">
        <p>
            2.- Servicios de pinturas, carpinteria, Gasfiteria, etc. Si el cliente lo solicita podemos proporcionar
            servicios de
            reparacion de esquemas de pintura, reparacion de puertas y ventanas, cambio de vidrios, mantencion de
            califonts y
            calentadores a gas, etc.
        </p>
    </div>
    <div class="content content-3">
        <p>3.- Limpieza y aseo de fachadas, bodegas y otro. Servicio de aseo, limpieza y lavado de fachadas, con
            hidro
            lavadora.
        </p>
    </div>

</body>

</html>