{% extends 'blog/base.html' %}
{% load static %}

{% block content %}   

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static 'css/services.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <section id="seccionintermediaservicio">
    <div class="row">
      <div class="col-lg-12 col-md-8 col-sm-4 col-xs-12">
        <div class="p-3">
          <h1 class="" align="center">Servicio Generales de limpieza e Pinturas.</h1>
        </div>
      </div>
    </div>
  </section>

  <section id="Servicio3Part1">
  <div class="row">
        <div class="col-lg-5 col-md-8 col-sm-4 col-xs-12">
          <div class="p-3">
              <img id="foto1" src="{% static 'imagenes/limpioedificio.png' %}" alt="">
           </div>
        </div>

        <div class="col-lg-6 col-md-8 col-sm-4 col-xs-12">
          <div class="p-3">
          <h2 class="titulos">Limpieza área edificios</h2>
          <p class="textoservicios">
            Estos servicios de limpieza son muy útiles para mantener la higiene y la limpieza en diferentes
            espacios. El servicio de aseo puede incluir la limpieza de diferentes áreas, el lavado de vidrios es ideal para
            mantener cristales y ventanas limpias, y la limpieza de techos y canaletas ayuda a evitar problemas de
            filtraciones. Estos servicios pueden ser contratados de forma regular o puntual, dependiendo de las necesidades
            del cliente. Es importante contar con profesionales especializados en estos servicios para obtener resultados de
            calidad y seguros.
          </p>
          </div>
        </div>

  </div>
  </section>


      <section id="Servicio3Part2">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-4 col-xs-12">
            <div class="p-3">
              <h2 class="titulos" class="textoservicios">Servicios de pinturas</h2>
              <p class="textoservicios">
                Estos servicios de reparación y mantenimiento pueden ser muy útiles para los clientes que necesitan solucionar
                problemas en sus hogares o empresas. El servicio de reparación de esquemas de pintura es ideal para corregir
                problemas de pintura dañada o mal aplicada. La reparación de puertas y ventanas ayuda a solucionar problemas de
                cierre o apertura, y el cambio de vidrios puede ser necesario en caso de rotura o daño. La mantención de
                califonts y calentadores a gas es importante para garantizar su funcionamiento adecuado y evitar problemas de
                seguridad. Estos servicios pueden ser contratados de forma puntual o como parte de un plan de mantenimiento
                regular, y es importante contar con profesionales especializados en cada área para obtener resultados de calidad
                y seguros.
              </p>
            </div>
          </div>
          <div class="col-lg-5 col-md-8 col-sm-4 col-xs-12">
            <div class="p-3">
                <img id="foto1" src="{% static 'imagenes/pintura2.png' %}" alt="">
             </div>
          </div>

        </div>
      </section>





      <section id="Servicio3Part2">

          <div class="row">
            <div class="col-lg-5 col-md-8 col-sm-4 col-xs-12">
              <div class="p-3">
                  <img id="foto1" src="{% static 'Img/servicio-limpieza.png' %}" alt="">
               </div>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-4 col-xs-12">
              <div class="p-3">
                <h2 class="titulos">Limpieza y aseo de fachadas, bodegas y otro</h2>
                <p class="textoservicios">
                  El servicio de aseo, limpieza y lavado de fachadas con hidrolavadora es muy útil para mantener la apariencia y
                  la limpieza de edificios, viviendas y empresas. La hidrolavadora permite limpiar fachadas y paredes exteriores
                  con alta presión de agua, lo que permite eliminar suciedad, moho, manchas y otros elementos que se acumulan con
                  el tiempo. Este servicio puede incluir la limpieza de paredes, techos, superficies de concreto, ladrillos,
                  piedra y otros materiales. Es importante contar con profesionales especializados en este tipo de limpieza para
                  garantizar resultados de calidad y seguros, y para evitar dañar la estructura o acabados de la fachada.
                </p>
              </div>
            </div>
          </div>
      </section>

      {% endblock %}